<!DOCTYPE HTML>
<html>
<head>
    <title>Maintenance</title>
    <link href="{{ asset('bundles/ndcmaintenance/css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="content">
        <div class="wrap">
            <div class="content-grid">
                <p><img src="{{ asset('bundles/ndcmaintenance/images/top.png') }}" title=""></p>
            </div>
            <div class="grid">
                <p><img src="{{ asset('bundles/ndcmaintenance/images/coming.png') }}" title=""></p>
                <h3>Your site is currently under maintenance.</h3>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="footer"></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</body>
</html>
